{% extends 'base.html' %}

{% block title %}{{ user.login_name }}, Here Are Your Tastings!{% endblock %}

{% block body %}
<h1>Reservations for {{ user.login_name }}</h1>

{% if my_reservations %}
<p>We'll see you soon for some exciting melon tasting!</p>

{% for reservation_tuple in my_reservations %}

<table>
    <tr>
        <td>{{ reservation_tuple[0] }}</td>
        <td>
            <form action="/cancel_reservation/{{ reservation_tuple[1] }}" method="DELETE">
                <button class="cancelButton" type="submit">Cancel {{ reservation_tuple[0] }}
                </button>
            </form>
        </td>
    </tr>
</table>

{% endfor %}

<a href="/specify_time_window">Sign up for more tastings!</a>

{% else %}

<p>Oh no! You have no reservations! <a href="/specify_time_window">Sign up for some tastings!</a></p>

{% endif %}

{% endblock %}